body{
    
    background-color: rgb(52, 170, 199);
    
    text-align: center;
    align-self: center;

    margin-top: 50pt;

    font-size: 100pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}

a{

    font-size: 50pt;

    background-color: rgb(50, 117, 119);
    color: rgb(224, 207, 47);

    width: 350pt;

    margin-top: 5pt;
    margin-left: auto;
    margin-right: auto;

}

p{

    padding-top: 50pt;

    margin-top: 10pt;
    margin: 0pt;

}

.plus{

    background-color: green;
    width: 50pt;

    margin-left: 33pt;
    margin-right: 33pt;

}

.minus{

    background-color: red;
    width: 50pt;

    margin-left: 33pt;
    margin-right: 33pt;

}

.controlPanel{

    border: 1pt solid;
    border-color: rgb(230, 226, 226);
    border-radius: 5pt;

    width: 200pt;
    height: 100pt;

    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: bolder;

}